# Copy this file as .env

# Telegram token will be added later
# after Telegram allows bot creation.

TELEGRAM_BOT_TOKEN=8955953550:AAEC7ywIgeSUZXyTHbRWvuSORWfFv5KL5_U

# Local Ollama model
OLLAMA_MODEL=llama3.2